.object,
.command {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

.App form {
  display: flex;
}

.App input {
  flex: 1;
  font-size: 16px;
  margin: 5px;
  padding: 2px;
}

.App tbody {
  vertical-align: top;
}

.primitive {
  color: #858585;
  margin-right: 2px;
  font-size: 14px;
}

.colon {
  font-weight: bold;
  color: orange;
}

.collapse {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.repl {
  list-style-type: ">";
}

.repl li {
  padding: 0 0 10px 10px;
  border-bottom: 1px solid gray;
}

.error {
  color: red;
  font-weight: bold;
}

.bracket {
  font-weight: bold;
}

pre {
  margin: 0;
}

.config {
  border: 2px solid gray;
  float: right;
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
}

.config h2 {
  margin: 0;
}

.clear {
  clear: both;
}
