.App {
  display: flex;
  flex-direction: column;
}

table,
pre {
  font-family: "Courier New", Courier, monospace;
}

.App form {
  display: flex;
}

.App input {
  flex: 1;
  font-size: 16px;
  margin: 5px;
  padding: 2px;
}

.App tbody {
  vertical-align: top;
}

.primitive {
  color: #858585;
  margin-right: 2px;
}

.colon {
  font-weight: bold;
  color: orange;
}

.collapse {
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.repl {
  list-style-type: ">";
}

.repl li {
  padding-left: 10px;
  border-bottom: 2px slod gray;
}

.error {
  color: red;
  font-weight: bold;
}
